.auth-page {
    min-height: 100vh;
    min-width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #2776ea;

    color: white;
}

.auth-page .ant-form {
    width: 400px;
    max-width: calc(100vw - 32px);
}

.auth-page .ant-form label{
    color: #ffffff;
}
